@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;

}

.cabecalho{
    display: flex;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 230, 230);
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.links{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.links a{
    text-decoration: none;
    color: black;
}

.perguntas{
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid;
    transition: .5s ease;

}

.perguntas:hover{
    transform: scale(1.05);
}

.respostaHidden{
    visibility: hidden;
    opacity: 0%;
}

.respostaAparece{
    visibility: visible;
    padding: 20px;
    opacity: 100%;
    font-weight: 700;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.rodape{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    transition: .5s ease;
}

a:hover{
    color: aqua;
}

.scanear{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}